In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession \
        .builder \
        .appName("reading csv") \
        .getOrCreate()

range will create a Dataframe with single **pyspark.sql.types.LongType** column with names id, containing elements in a range from **start** to **end** with **step**

In [3]:
spark.range(1,10).collect()

[Row(id=1),
 Row(id=2),
 Row(id=3),
 Row(id=4),
 Row(id=5),
 Row(id=6),
 Row(id=7),
 Row(id=8),
 Row(id=9)]

In [4]:
spark.range(5,-5,-1).collect()

[Row(id=5),
 Row(id=4),
 Row(id=3),
 Row(id=2),
 Row(id=1),
 Row(id=0),
 Row(id=-1),
 Row(id=-2),
 Row(id=-3),
 Row(id=-4)]

If only one argument is specified, it will be used as the end value.

In [5]:
spark.range(10).collect()

[Row(id=0),
 Row(id=1),
 Row(id=2),
 Row(id=3),
 Row(id=4),
 Row(id=5),
 Row(id=6),
 Row(id=7),
 Row(id=8),
 Row(id=9)]

## References

  - <https://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html#pyspark.sql.SparkSession>