In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [2]:
scSpark = SparkSession \
        .builder \
        .appName("reading csv") \
        .getOrCreate()

In [3]:
data_file = './test.csv'
spark_df = scSpark.read.csv(data_file, header=True, sep=",")

In [4]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [5]:
spark_df.columns

['name', 'age', 'country']

In [6]:
spark_df.schema.names

['name', 'age', 'country']

In [13]:
for i in spark_df.schema.names:
    print(spark_df.schema[i].dataType)

StringType
StringType
StringType

In [7]:
spark_df.take(5)

[Row(name='adnan', age='40', country='Pakistan'),
 Row(name='maaz', age='9', country='Pakistan'),
 Row(name='musab', age='4', country='Pakistan'),
 Row(name='ayesha', age='32', country='Pakistan')]

## References

  - <https://towardsdatascience.com/create-your-first-etl-pipeline-in-apache-spark-and-python-ec3d12e2c169>
  - <https://stackoverflow.com/questions/39746752/how-to-get-name-of-dataframe-column-in-pyspark>